.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #77C3EC;
}

body, html {
  height: 100%;
}
.bg {
  display: flex;
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).webp");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  caret-color: transparent;
  justify-content: center;
  align-items: center;
}

